html
  head
  body
    h3 Issues
    if (typeof(qres)!='undefined')
     for res in qres
      -var issue=res.binding[1].literal
      -var uri=res.binding[0].uri
      a(href='/oc/issue?uri='+uri)
        ="Issue "+ issue
      br